.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.feed {
  margin-top: 200px;
}
