.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.btnClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}

.number {
  position: absolute;
  left: 5px;
  top: 5px;
  font-family: 'Open Sans';
  font-size: 1.8rem;
}

.text {
  text-shadow: #CCC 1px 0 10px;
  font-size: 1.5rem;
  font-family: 'Lato';
  letter-spacing: 5px;
  text-align: center;
}
