.logoImageContainer {
  display: flex;
  animation-delay: center;
  justify-content: center;
  margin: 20px 0;
}

.logoImage {
  border: 3px solid #829db4;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 3px rgba(63,63,63,0.1), inset 0px 0px 0px 3px rgba(63,63,63,0.1);
}
