.contributor {
  margin-top: 0;
  margin-bottom: 1.5rem;
  background: #fff;
  border: 1px solid #dbe2e8;
  box-shadow: 0 2px 4px 0 rgba(46,61,73,0.12);
  border-radius: 0.125rem;
  transition: box-shadow 0.3s ease, border 0.3s ease;
  height: 28rem;
  margin: 10px;
  padding: 40px;
  color: #7d97ad;
  p {
    color: #7d97ad;
  }
}
