import React from 'react';
import cssModules from 'react-css-modules';
import styles from './index.module.scss';


// Pages map directly to Routes, i.e. one page equals on Route

const {{ properCase name }}Page = (props) => (
  <div className={styles.container}>
    Hello from {{ properCase name }}Page !
  </div>
);

export default cssModules({{ properCase name }}Page, styles);
