.myAmazingContainer {
  background-image: linear-gradient(135deg, #ca2091 0, #a041fa 20%, #3f65fb 50%, #0fcbfa 80%, #0fe6fa 100%);
  min-height: 100vh;
}

.bigTitle {
  text-align: center;
  margin-top: 20px;
  padding: 40px;
  text-transform: uppercase;
  color: white;
}
