.fullScreen {
  min-height: 100vh;
  padding: 50px;
}

.sectionHeader {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: 'Raleway';
  letter-spacing: 1px;
  padding: 40px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.noBoxes {
  margin-top: 50px;
  font-family: 'Open Sans';
  font-size: 1.4rem;
  color: white;
}
